.superhero-card {
    margin: 0.5rem;
    border: 1px solid #444;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #777;
    width: 16rem;
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-shrink: 0;
}

.stats-container {
    font-size: small;
}
